.notFoundLabel {
  color: white;
  margin: 12px 0;
  text-align: center;
  display: block;
  font-size: 25px;
  line-height: 1;
  font-weight: 500;
  font-family: "Jua";
}

.mainContainer {
  padding: 60px 110px 60px 110px;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f5f2ed;
  background-image: url("../../../assets/img/notFoundBg.png");
  background-repeat: round;
  background-size: cover;
}

.textContainer {
  margin: 20px;
}

.icon {
  font-size: 26px;
  margin-left: 8px;
  margin-right: 8px;
}
